In [332]:
import pandas as pd
import numpy as np
from datetime import date
import warnings
warnings.filterwarnings('ignore')

In [333]:
df = pd.read_csv("datos/bikes.csv", index_col=0)
df.head(15)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,06-01-2018,spring,0,1,0,4,1,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,07-01-2018,spring,0,1,0,5,1,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
7,8,08-01-2018,spring,0,1,0,6,0,2,6.765000,8.11270,53.5833,17.875868,68,891,959
8,9,09-01-2018,spring,0,1,0,0,0,1,5.671653,5.80875,43.4167,24.250650,54,768,822
9,10,10-01-2018,spring,0,1,0,1,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321
10,11,11-01-2018,spring,0,1,0,2,1,2,6.932731,9.57320,68.6364,8.182844,43,1220,1263
11,12,12-01-2018,spring,0,1,0,3,1,1,7.081807,8.02365,59.9545,20.410009,25,1137,1162
12,13,13-01-2018,spring,0,1,0,4,1,1,6.765000,7.54415,47.0417,20.167000,38,1368,1406
13,14,14-01-2018,spring,0,1,0,5,1,1,6.595670,9.42065,53.7826,8.478716,54,1367,1421
14,15,15-01-2018,spring,0,1,0,6,0,2,9.566653,12.40560,49.8750,10.583521,222,1026,1248

In [392]:
df.iloc[4,1].month

1

## Empezamos el EDA

In [334]:
df.dtypes

instant         int64
dteday         object
season         object
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

Convertimos la columna "dteday" a tipo de dato Date

In [335]:
df["dteday"]=pd.to_datetime(df['dteday'])

Verificamos los nulos

In [336]:
df.sort_values(by='dteday', inplace=True)

In [337]:
df.reset_index(drop=True, inplace=True)

In [338]:
df.head(60)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.181250,80.5833,10.749882,331,654,985
1,32,2018-01-02,spring,0,2,0,2,1,2,7.879134,11.726500,82.9565,3.565271,47,1313,1360
2,60,2018-01-03,spring,0,3,0,2,1,1,10.933347,13.193950,53.5000,14.500475,137,1714,1851
3,91,2018-01-04,summer,0,4,0,5,1,2,12.300000,14.172700,68.6250,17.333436,307,1920,2227
4,121,2018-01-05,summer,0,5,0,0,0,2,18.518347,22.410200,76.2083,7.125718,1138,2213,3351
5,152,2018-01-06,summer,0,6,0,3,1,2,31.330847,36.048350,67.7083,13.875164,513,3461,3974
6,182,2018-01-07,autumn,0,7,0,5,1,1,29.622500,32.608100,39.6250,6.874736,1246,4116,5362
7,213,2018-01-08,autumn,0,8,0,1,1,1,31.638347,35.164600,55.0833,10.500039,729,3537,4266
8,244,2018-01-09,autumn,0,9,0,4,1,1,26.855000,30.746050,63.9167,9.500332,783,4332,5115
9,274,2018-01-10,winter,0,10,0,6,0,2,16.810000,20.643150,75.3750,19.583832,480,1949,2429
10,305,2018-01-11,winter,0,11,0,2,1,1,16.434153,19.854400,68.3750,9.083257,410,3658,4068
11,335,2018-01-12,winter,0,12,0,4,1,1,12.812500,15.277700,52.4583,14.750586,182,3545,3727
12,13,2018-01-13,spring,0,1,0,4,1,1,6.765000,7.544150,47.0417,20.167000,38,1368,1406
13,14,2018-01-14,spring,0,1,0,5,1,1,6.595670,9.420650,53.7826,8.478716,54,1367,1421
14,15,2018-01-15,spring,0,1,0,6,0,2,9.566653,12.405600,49.8750,10.583521,222,1026,1248
15,16,2018-01-16,spring,0,1,0,0,0,1,9.498347,11.710850,48.3750,12.625011,251,953,1204
16,17,2018-01-17,spring,0,1,1,1,0,2,7.209153,8.838550,53.7500,12.999139,117,883,1000
17,18,2018-01-18,spring,0,1,0,2,1,2,8.883347,11.616650,86.1667,9.833925,9,674,683
18,19,2018-01-19,spring,0,1,0,3,1,2,11.979134,14.921100,74.1739,13.957239,78,1572,1650
19,20,2018-01-20,spring,0,1,0,4,1,2,10.728347,12.752500,53.8333,13.125568,83,1844,1927
20,21,2018-01-21,spring,0,1,0,5,1,1,7.277500,7.891650,45.7083,23.667214,75,1468,1543
21,22,2018-01-22,spring,0,1,0,6,0,1,2.424346,3.953480,40.0000,11.521990,93,888,981
22,23,2018-01-23,spring,0,1,0,0,0,1,3.957390,4.941955,43.6522,16.522200,150,836,986
23,24,2018-01-24,spring,0,1,0,1,1,1,3.993043,5.896500,49.1739,10.608110,86,1330,1416
24,25,2018-01-25,spring,0,1,0,2,1,2,9.162598,11.726300,61.6957,8.696332,186,1799,1985
25,26,2018-01-26,spring,0,1,0,3,1,3,8.917500,10.180000,86.2500,19.687950,34,472,506
26,27,2018-01-27,spring,0,1,0,4,1,1,7.995000,10.985000,68.7500,7.627079,15,416,431
27,28,2018-01-28,spring,0,1,0,5,1,2,8.342598,11.165850,79.3043,8.261100,38,1129,1167
28,29,2018-01-29,spring,0,1,0,6,0,1,8.057402,10.606300,65.1739,9.739455,123,975,1098
29,30,2018-01-30,spring,0,1,0,0,0,1,8.877402,12.516100,72.2174,4.956834,140,956,1096
30,31,2018-01-31,spring,0,1,0,1,1,2,7.414153,9.312500,60.3750,12.541864,42,1459,1501
31,2,2018-02-01,spring,0,1,0,0,0,2,14.902598,17.686950,69.6087,16.652113,131,670,801
32,33,2018-02-02,spring,0,2,0,3,1,2,10.660000,12.720850,77.5417,17.708636,72,1454,1526
33,61,2018-02-03,spring,0,3,0,3,1,1,13.735000,16.003550,44.9583,20.624811,231,1903,2134
34,92,2018-02-04,summer,0,4,0,6,0,2,12.915000,15.781850,65.3750,13.208782,898,1354,2252
35,122,2018-02-05,summer,0,5,0,1,1,2,22.515847,26.641650,73.0000,12.291418,847,3554,4401
36,153,2018-02-06,summer,0,6,0,4,1,1,29.315000,32.197100,30.5000,19.583229,736,4232,4968
37,183,2018-02-07,autumn,0,7,0,6,0,1,30.271653,33.365400,44.4583,7.709154,2204,2915,5119
38,214,2018-02-08,autumn,0,8,0,2,1,1,32.116653,35.353550,49.1250,13.791950,801,4044,4845
39,245,2018-02-09,autumn,0,9,0,5,1,2,26.376653,30.240400,72.7083,9.375243,875,3852,4727
40,275,2018-02-10,winter,0,10,0,0,0,2,14.623347,17.265850,79.1667,14.874871,616,2302,2918
41,306,2018-02-11,winter,0,11,0,3,1,1,15.477500,19.506650,71.8750,5.500144,370,3816,4186
42,336,2018-02-12,winter,0,12,0,5,1,1,12.880847,16.571650,62.5833,6.750518,268,3672,3940
43,44,2018-02-13,spring,0,2,0,0,0,1,12.977402,16.205650,45.7391,17.479161,397,1192,1589
44,45,2018-02-14,spring,0,2,0,1,1,1,17.015000,19.917500,37.5833,27.999836,208,1705,1913
45,46,2018-02-15,spring,0,2,0,2,1,1,10.909567,12.713700,31.4348,19.522058,140,1675,1815
46,47,2018-02-16,spring,0,2,0,3,1,1,13.048701,15.810000,42.3478,16.869997,218,1897,2115
47,48,2018-02-17,spring,0,2,0,4,1,1,17.869153,21.432900,50.5000,15.416968,259,2216,2475
48,49,2018-02-18,spring,0,2,0,5,1,1,21.388347,25.599150,51.6667,17.749975,579,2348,2927
49,50,2018-02-19,spring,0,2,0,6,0,1,16.365847,19.570200,18.7917,34.000021,532,1103,1635
50,51,2018-02-20,spring,0,2,0,0,0,1,11.693897,13.866500,40.7826,14.956745,639,1173,1812
51,52,2018-02-21,spring,0,2,1,1,0,2,12.436653,14.203750,60.5000,20.625682,195,912,1107
52,53,2018-02-22,spring,0,2,0,2,1,1,7.471102,9.301650,57.7778,13.110761,74,1376,1450
53,54,2018-02-23,spring,0,2,0,3,1,1,9.091299,12.285850,42.3043,6.305571,139,1778,1917
54,55,2018-02-24,spring,0,2,0,4,1,2,12.121732,14.459550,69.7391,16.783232,100,1707,1807
55,56,2018-02-25,spring,0,2,0,5,1,2,14.938268,17.523050,71.2174,23.218113,120,1341,1461
56,57,2018-02-26,spring,0,2,0,6,0,1,11.582500,14.109600,53.7917,12.500257,424,1545,1969
57,58,2018-02-27,spring,0,2,0,0,0,1,14.082598,17.555450,68.0000,8.391616,694,1708,2402
58,59,2018-02-28,spring,0,2,0,1,1,2,16.698193,20.005900,87.6364,19.408962,81,1365,1446
59,3,2018-03-01,spring,0,1,0,1,1,1,8.050924,9.470250,43.7273,16.636703,120,1229,1349

In [339]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

NO tenemos nulos wiii....

In [340]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [341]:
df.describe(include="object").T

       count unique     top freq
season   730      4  autumn  188

In [342]:
df.describe(include="number").T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [343]:
df["mnth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [344]:
df.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,spring,0,2,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360

In [345]:
df["yr"].unique()

array([0, 1])

In [346]:
#if ((df["dteday"] >= "2018-03-21") & (df["dteday"] <= "2018-06-21")) | ((df["dteday"] >= "2019-03-21") & (df["dteday"] <= "2019-06-21")):
    #df["season"] = "spring"

In [347]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [348]:
df["dteday"].dt.month

0       1
1       1
2       1
3       1
4       1
       ..
725    12
726    12
727    12
728    12
729    12
Name: dteday, Length: 730, dtype: int64

In [349]:
df["dteday"]

0     2018-01-01
1     2018-01-02
2     2018-01-03
3     2018-01-04
4     2018-01-05
         ...
725   2019-12-27
726   2019-12-28
727   2019-12-29
728   2019-12-30
729   2019-12-31
Name: dteday, Length: 730, dtype: datetime64[ns]

In [350]:
#INICIO ESTACIONES

In [393]:
df_prima=df[(df["dteday"].dt.month == 3) & (df["dteday"].dt.day == 21)]#
inicio_prima=df_prima.index

In [352]:
inicio_prima

Int64Index([79, 444], dtype='int64')

In [353]:
df_inv=df[(df["dteday"].dt.month == 12) & (df["dteday"].dt.day == 21)]#
inicio_inv=df_inv.index

In [354]:
inicio_inv

Int64Index([354, 719], dtype='int64')

In [355]:
df_aut=df[(df["dteday"].dt.month == 9) & (df["dteday"].dt.day == 21)]#
inicio_aut=df_aut.index

In [356]:
inicio_aut

Int64Index([263, 628], dtype='int64')

In [357]:
df_sum=df[(df["dteday"].dt.month == 6) & (df["dteday"].dt.day == 21)]#
inicio_sum=df_sum.index

In [358]:
inicio_sum

Int64Index([171, 536], dtype='int64')

In [359]:
# FINAL ESTACIONES

In [360]:
df_fin_prima=df[(df["dteday"].dt.month == 6) & (df["dteday"].dt.day == 22)]#
final_prima=df_fin_prima.index

In [361]:
final_prima

Int64Index([172, 537], dtype='int64')

In [362]:
df_fin_inv=df[(df["dteday"].dt.month == 3) & (df["dteday"].dt.day == 22)]#
final_inv=df_fin_inv.index

In [363]:
final_inv

Int64Index([80, 445], dtype='int64')

In [364]:
df_fin_aut=df[(df["dteday"].dt.month == 12) & (df["dteday"].dt.day == 22)]#
final_aut=df_fin_aut.index

In [365]:
final_aut

Int64Index([355, 720], dtype='int64')

In [366]:
df_fin_sum=df[(df["dteday"].dt.month == 9) & (df["dteday"].dt.day == 22)]#
final_sum=df_fin_sum.index

In [367]:
final_sum

Int64Index([264, 629], dtype='int64')

In [368]:
#Año 2018

df.iloc[79:171+1,2]='spring'

In [369]:
df.iloc[[354:80+1,2]]='winter'

In [403]:
df.iloc[[354,80+1],2]

354    autumn
81     spring
Name: season, dtype: object

In [370]:
df.iloc[inicio_aut[0]:final_aut[0]+1,2]='autumn'

In [371]:
df.iloc[inicio_sum[0]:final_sum[0]+1,2]='summer'

In [372]:
#Año 2019
df.iloc[inicio_prima[1]:final_prima[1]+1,2]="spring"

In [373]:
df.iloc[inicio_inv[1]:final_inv[1]+1,2]="winter"

In [374]:
df.iloc[inicio_aut[1]:final_aut[1]+1,2]="autumn"

In [375]:
df.iloc[inicio_sum[1]:final_sum[1]+1,2]="summer"

Hacer un for loop con el zip para poder sobreescribir

In [376]:
df_zip=inicio_prima

In [377]:
df['season'].unique()

array(['spring', 'summer', 'autumn', 'winter'], dtype=object)

In [378]:
df.sample(15)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
250,221,2018-09-08,summer,0,8,0,2,1,1,31.775000,36.20605,57.0417,10.125107,907,3695,4602
702,467,2019-12-04,autumn,1,4,0,4,1,1,16.297500,19.38020,46.6250,19.458743,663,4746,5409
14,15,2018-01-15,spring,0,1,0,6,0,2,9.566653,12.40560,49.8750,10.583521,222,1026,1248
246,99,2018-09-04,summer,0,4,0,6,0,2,14.042500,17.07645,87.7500,8.916561,879,1576,2455
194,195,2018-07-14,summer,0,7,0,4,1,1,27.914153,31.75520,47.6250,16.124689,888,4196,5084
615,586,2019-09-08,summer,1,8,0,4,1,1,30.989153,34.97540,62.0417,10.458700,1196,6090,7286
187,188,2018-07-07,summer,0,7,0,4,1,1,30.750000,34.34355,65.1250,10.666400,754,3838,4592
404,610,2019-02-09,autumn,1,9,0,0,0,2,28.563347,32.45000,81.5000,4.292744,2613,3197,5810
635,636,2019-09-28,autumn,1,9,0,5,1,2,25.385847,29.29315,69.0000,10.999993,1045,6370,7415
572,573,2019-07-27,summer,1,7,0,5,1,1,32.048347,36.71085,59.4583,10.250464,1259,5645,6904
163,164,2018-06-13,spring,0,6,0,1,1,1,26.035000,30.08270,49.4583,20.458450,863,4157,5020
231,232,2018-08-20,summer,0,8,0,6,0,1,28.597500,32.44980,67.4167,6.999289,1914,3277,5191
216,128,2018-08-05,summer,0,5,0,0,0,1,21.661653,25.94665,63.1667,5.000712,1401,2932,4333
492,582,2019-05-08,spring,1,8,0,0,0,1,31.535847,36.55395,65.2500,19.458207,1707,3757,5464
616,617,2019-09-09,summer,1,9,0,0,0,1,25.010000,28.94625,54.7500,15.041232,2570,5657,8227

In [379]:
df[df['yr']==0]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,spring,0,2,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360
2,60,2018-01-03,spring,0,3,0,2,1,1,10.933347,13.19395,53.5000,14.500475,137,1714,1851
3,91,2018-01-04,summer,0,4,0,5,1,2,12.300000,14.17270,68.6250,17.333436,307,1920,2227
4,121,2018-01-05,summer,0,5,0,0,0,2,18.518347,22.41020,76.2083,7.125718,1138,2213,3351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,2018-12-27,spring,0,12,0,2,1,2,13.325000,16.38165,76.2500,12.626150,103,1059,1162
361,362,2018-12-28,spring,0,12,0,3,1,1,12.264330,13.99870,50.3913,19.695387,255,2047,2302
362,363,2018-12-29,spring,0,12,0,4,1,1,10.181653,13.19460,57.4167,8.000604,254,2169,2423
363,364,2018-12-30,spring,0,12,0,5,1,1,12.778347,15.94060,63.6667,9.000579,491,2508,2999
364,365,2018-12-31,spring,0,12,0,6,0,1,16.810000,20.70605,61.5833,14.750318,665,1820,2485

In [380]:
df['season'].unique()

array(['spring', 'summer', 'autumn', 'winter'], dtype=object)

Primavera: inicia el 20 de marzo al 21 de junio. Verano: inicia el 21 de junio y finaliza el 23 de septiembre. Otoño: inicia el 23 de septiembre y finaliza el 21 de diciembre. Invierno: inicia el 21 de diciembre y finaliza el 20 de marzo.

In [381]:
#Nota mental: Hacer un mapeo

>Tip ANA

from datetime import date, datetime

Y = 2000 # dummy leap year to allow input X-02-29 (leap day)
seasons = [('winter', (date(Y,  1,  1),  date(Y,  3, 20))),
           ('spring', (date(Y,  3, 21),  date(Y,  6, 20))),
           ('summer', (date(Y,  6, 21),  date(Y,  9, 22))),
           ('autumn', (date(Y,  9, 23),  date(Y, 12, 20))),
           ('winter', (date(Y, 12, 21),  date(Y, 12, 31)))]

def get_season(now):
    if isinstance(now, datetime):
        now = now.date()
    now = now.replace(year=Y)
    return next(season for season, (start, end) in seasons
                if start <= now <= end)

print(get_season(date.today()))

>Tip YADI

https://es.stackoverflow.com/questions/412121/convertir-fechas-a-estaciones