In [51]:
import pandas as pd
import numpy as np
from datetime import date
import warnings
warnings.filterwarnings('ignore')

In [100]:
df = pd.read_csv("./datos/bikes.csv", index_col=0)
df=df.drop(['casual','registered','workingday'],axis=1)  #Eliminamos estas columnas pprque son redundantes para nuestra hipótesis
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,01-01-2018,spring,0,1,0,6,2,14.110847,18.18125,80.5833,10.749882,985
1,2,02-01-2018,spring,0,1,0,0,2,14.902598,17.68695,69.6087,16.652113,801
2,3,03-01-2018,spring,0,1,0,1,1,8.050924,9.47025,43.7273,16.636703,1349
3,4,04-01-2018,spring,0,1,0,2,1,8.200000,10.60610,59.0435,10.739832,1562
4,5,05-01-2018,spring,0,1,0,3,1,9.305237,11.46350,43.6957,12.522300,1600

En vista de que estos datos tienen en cuenta condiciones climatológicas, festivos y estaciones diferentes del año decidimos que vamos a analizar los datos, dividiendolos en 4, según la estación del año. De esta manera, planteamos la siguiente hipótesis con la variable respuesta:
 - Hipótesis: Cuántas bicis voy a necesitar por estación, de acuerdo al clima y días festivos contenga.
 - H0: Nuestras variables predictoras no afectan a nuestra variable respuesta.
 - H1: Nuestras variables predictoras si afectan a nuestra variable respuesta.
 - V. respuesta: columna cnt ()

In [53]:
df.dtypes

instant         int64
dteday         object
season         object
yr              int64
mnth            int64
holiday         int64
weekday         int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
cnt             int64
dtype: object

In [54]:
df.duplicated().sum()

0

## Empezamos el EDA

In [55]:
df.dtypes

instant         int64
dteday         object
season         object
yr              int64
mnth            int64
holiday         int64
weekday         int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
cnt             int64
dtype: object

Convertimos la columna "dteday" a tipo de dato Date

In [56]:
df["dteday"]=pd.to_datetime(df['dteday'], format= "%d-%m-%Y")

Verificamos los nulos

In [57]:
df.sort_values(by='dteday', inplace=True)

In [58]:
df.reset_index(drop=True, inplace=True)

In [59]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
cnt                    int64
dtype: object

In [60]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2018-01-01,spring,0,1,0,6,2,14.110847,18.18125,80.5833,10.749882,985
1,2,2018-01-02,spring,0,1,0,0,2,14.902598,17.68695,69.6087,16.652113,801
2,3,2018-01-03,spring,0,1,0,1,1,8.050924,9.47025,43.7273,16.636703,1349
3,4,2018-01-04,spring,0,1,0,2,1,8.200000,10.60610,59.0435,10.739832,1562
4,5,2018-01-05,spring,0,1,0,3,1,9.305237,11.46350,43.6957,12.522300,1600
5,6,2018-01-06,spring,0,1,0,4,1,8.378268,11.66045,51.8261,6.000868,1606
6,7,2018-01-07,spring,0,1,0,5,2,8.057402,10.44195,49.8696,11.304642,1510
7,8,2018-01-08,spring,0,1,0,6,2,6.765000,8.11270,53.5833,17.875868,959
8,9,2018-01-09,spring,0,1,0,0,1,5.671653,5.80875,43.4167,24.250650,822
9,10,2018-01-10,spring,0,1,0,1,1,6.184153,7.54440,48.2917,14.958889,1321

In [61]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
cnt           0
dtype: int64

NO tenemos nulos wiii....

In [62]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
cnt                    int64
dtype: object

In [63]:
df.describe(include="object").T

       count unique     top freq
season   730      4  autumn  188

In [64]:
df.describe(include="number").T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [65]:
df["mnth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [66]:
df.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2018-01-01,spring,0,1,0,6,2,14.110847,18.18125,80.5833,10.749882,985
1,2,2018-01-02,spring,0,1,0,0,2,14.902598,17.68695,69.6087,16.652113,801

In [67]:
#INICIO ESTACIONES

In [68]:
#Nota mental: Hacer un mapeo

In [69]:
df[df['season']=='spring']

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2018-01-01,spring,0,1,0,6,2,14.110847,18.18125,80.5833,10.749882,985
1,2,2018-01-02,spring,0,1,0,0,2,14.902598,17.68695,69.6087,16.652113,801
2,3,2018-01-03,spring,0,1,0,1,1,8.050924,9.47025,43.7273,16.636703,1349
3,4,2018-01-04,spring,0,1,0,2,1,8.200000,10.60610,59.0435,10.739832,1562
4,5,2018-01-05,spring,0,1,0,3,1,9.305237,11.46350,43.6957,12.522300,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,spring,1,12,0,4,2,10.420847,11.33210,65.2917,23.458911,2114
726,727,2019-12-28,spring,1,12,0,5,2,10.386653,12.75230,59.0000,10.416557,3095
727,728,2019-12-29,spring,1,12,0,6,2,10.386653,12.12000,75.2917,8.333661,1341
728,729,2019-12-30,spring,1,12,0,0,1,10.489153,11.58500,48.3333,23.500518,1796
729,730,2019-12-31,spring,1,12,0,1,2,8.849153,11.17435,57.7500,10.374682,2729

In [70]:
df[df['season']=='summer']

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
79,80,2018-03-21,summer,0,3,0,1,2,17.647835,20.48675,73.7391,19.348461,2077
80,81,2018-03-22,summer,0,3,0,2,1,18.108347,22.03210,62.4583,15.125250,2703
81,82,2018-03-23,summer,0,3,0,3,2,14.225237,16.89695,83.9565,15.695487,2121
82,83,2018-03-24,summer,0,3,0,4,2,11.685000,13.54165,80.5833,16.333729,1865
83,84,2018-03-25,summer,0,3,0,5,1,10.830847,12.81560,49.5000,15.458575,2210
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,532,2019-06-16,summer,1,6,0,6,1,25.898347,29.73540,50.4167,11.166689,7702
532,533,2019-06-17,summer,1,6,0,0,1,24.292500,28.59875,59.8750,9.708568,6978
533,534,2019-06-18,summer,1,6,0,1,2,23.301653,27.24210,77.7917,11.707982,5099
534,535,2019-06-19,summer,1,6,0,2,1,28.221653,32.73460,69.0000,9.917139,6825
535,536,2019-06-20,summer,1,6,0,3,1,32.082500,36.04875,59.2083,7.625404,6211

In [71]:
df[df['season']=='autumn']

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
171,172,2018-06-21,autumn,0,6,0,2,2,27.914153,31.88230,77.0417,11.458675,4835
172,173,2018-06-22,autumn,0,6,0,3,1,30.066653,34.69145,70.7500,11.541554,4507
173,174,2018-06-23,autumn,0,6,0,4,2,29.861653,34.69165,70.3333,15.999868,4790
174,175,2018-06-24,autumn,0,6,0,5,1,29.690847,32.82915,57.3333,14.875675,4991
175,176,2018-06-25,autumn,0,6,0,6,1,28.495000,32.16565,48.3333,14.041257,5202
...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,626,2019-09-18,autumn,1,9,0,2,2,25.556653,28.25335,87.2500,23.958329,4073
626,627,2019-09-19,autumn,1,9,0,3,1,22.652500,27.02020,53.6667,14.416725,7591
627,628,2019-09-20,autumn,1,9,0,4,1,22.413347,26.60960,61.8333,7.917189,7720
628,629,2019-09-21,autumn,1,9,0,5,1,24.565847,28.59855,66.8750,10.333343,8167
629,630,2019-09-22,autumn,1,9,0,6,1,26.650000,30.52440,64.6667,19.000061,8395

In [72]:
df[df['season']=='winter']

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
265,266,2018-09-23,winter,0,9,0,5,2,24.975847,26.10625,97.2500,5.250569,2395
266,267,2018-09-24,winter,0,9,0,6,2,24.873347,28.22060,86.2500,5.251681,5423
267,268,2018-09-25,winter,0,9,0,0,2,26.000847,28.63185,84.5000,3.375406,5010
268,269,2018-09-26,winter,0,9,0,1,2,26.615847,29.45210,84.8333,7.416900,4630
269,270,2018-09-27,winter,0,9,0,2,2,26.103347,28.72625,88.5417,7.917457,4120
...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,715,2019-12-16,winter,1,12,0,0,2,14.862500,18.49690,83.8750,6.749714,3786
715,716,2019-12-17,winter,1,12,0,1,2,16.126653,20.07500,90.7083,6.583306,4585
716,717,2019-12-18,winter,1,12,0,2,1,16.844153,20.48540,66.6250,14.834068,5557
717,718,2019-12-19,winter,1,12,0,3,1,13.632500,17.10810,62.5417,12.334164,5267
718,719,2019-12-20,winter,1,12,0,4,2,13.530000,16.76085,66.7917,8.875021,4128

Vemos que las categorias de season estan mal asignadas --> hacemos un mapeo:

    - spring --> winter
    - summer --> spring
    - autumn --> summer
    - winter --> autumn

In [73]:
mapa = {'spring':'winter','summer':'spring','autumn':'summer','winter':'autumn'}

In [74]:
df['season'] = df['season'].map(mapa)

In [75]:
df

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2018-01-01,winter,0,1,0,6,2,14.110847,18.18125,80.5833,10.749882,985
1,2,2018-01-02,winter,0,1,0,0,2,14.902598,17.68695,69.6087,16.652113,801
2,3,2018-01-03,winter,0,1,0,1,1,8.050924,9.47025,43.7273,16.636703,1349
3,4,2018-01-04,winter,0,1,0,2,1,8.200000,10.60610,59.0435,10.739832,1562
4,5,2018-01-05,winter,0,1,0,3,1,9.305237,11.46350,43.6957,12.522300,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,winter,1,12,0,4,2,10.420847,11.33210,65.2917,23.458911,2114
726,727,2019-12-28,winter,1,12,0,5,2,10.386653,12.75230,59.0000,10.416557,3095
727,728,2019-12-29,winter,1,12,0,6,2,10.386653,12.12000,75.2917,8.333661,1341
728,729,2019-12-30,winter,1,12,0,0,1,10.489153,11.58500,48.3333,23.500518,1796
729,730,2019-12-31,winter,1,12,0,1,2,8.849153,11.17435,57.7500,10.374682,2729

In [76]:
df[df['dteday'].dt.month == 1]['mnth']

0      1
1      1
2      1
3      1
4      1
      ..
391    1
392    1
393    1
394    1
395    1
Name: mnth, Length: 62, dtype: int64

In [77]:
df[df['dteday'].dt.month == 2]['mnth']

31     2
32     2
33     2
34     2
35     2
36     2
37     2
38     2
39     2
40     2
41     2
42     2
43     2
44     2
45     2
46     2
47     2
48     2
49     2
50     2
51     2
52     2
53     2
54     2
55     2
56     2
57     2
58     2
396    2
397    2
398    2
399    2
400    2
401    2
402    2
403    2
404    2
405    2
406    2
407    2
408    2
409    2
410    2
411    2
412    2
413    2
414    2
415    2
416    2
417    2
418    2
419    2
420    2
421    2
422    2
423    2
Name: mnth, dtype: int64

Vemos que algunos meses no están bien asignados. Vamos a reemplazarlos por los valores correctos:

In [78]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2018-01-01,winter,0,1,0,6,2,14.110847,18.18125,80.5833,10.749882,985
1,2,2018-01-02,winter,0,1,0,0,2,14.902598,17.68695,69.6087,16.652113,801
2,3,2018-01-03,winter,0,1,0,1,1,8.050924,9.47025,43.7273,16.636703,1349
3,4,2018-01-04,winter,0,1,0,2,1,8.200000,10.60610,59.0435,10.739832,1562
4,5,2018-01-05,winter,0,1,0,3,1,9.305237,11.46350,43.6957,12.522300,1600
5,6,2018-01-06,winter,0,1,0,4,1,8.378268,11.66045,51.8261,6.000868,1606
6,7,2018-01-07,winter,0,1,0,5,2,8.057402,10.44195,49.8696,11.304642,1510
7,8,2018-01-08,winter,0,1,0,6,2,6.765000,8.11270,53.5833,17.875868,959
8,9,2018-01-09,winter,0,1,0,0,1,5.671653,5.80875,43.4167,24.250650,822
9,10,2018-01-10,winter,0,1,0,1,1,6.184153,7.54440,48.2917,14.958889,1321

In [79]:
def cambiar_month(col):
    return col.month

In [80]:
df['mnth'] = df['dteday'].apply(cambiar_month)

In [81]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2018-01-01,winter,0,1,0,6,2,14.110847,18.18125,80.5833,10.749882,985
1,2,2018-01-02,winter,0,1,0,0,2,14.902598,17.68695,69.6087,16.652113,801
2,3,2018-01-03,winter,0,1,0,1,1,8.050924,9.47025,43.7273,16.636703,1349
3,4,2018-01-04,winter,0,1,0,2,1,8.200000,10.60610,59.0435,10.739832,1562
4,5,2018-01-05,winter,0,1,0,3,1,9.305237,11.46350,43.6957,12.522300,1600
5,6,2018-01-06,winter,0,1,0,4,1,8.378268,11.66045,51.8261,6.000868,1606
6,7,2018-01-07,winter,0,1,0,5,2,8.057402,10.44195,49.8696,11.304642,1510
7,8,2018-01-08,winter,0,1,0,6,2,6.765000,8.11270,53.5833,17.875868,959
8,9,2018-01-09,winter,0,1,0,0,1,5.671653,5.80875,43.4167,24.250650,822
9,10,2018-01-10,winter,0,1,0,1,1,6.184153,7.54440,48.2917,14.958889,1321

### Cambiamos el weekday (está mal)

In [82]:
mapa_dias={6:1,0:2,1:3,2:4,3:5,4:6,5:7}

In [83]:
df['weekday']=df['weekday'].map(mapa_dias)

In [84]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2018-01-01,winter,0,1,0,1,2,14.110847,18.18125,80.5833,10.749882,985
1,2,2018-01-02,winter,0,1,0,2,2,14.902598,17.68695,69.6087,16.652113,801
2,3,2018-01-03,winter,0,1,0,3,1,8.050924,9.47025,43.7273,16.636703,1349
3,4,2018-01-04,winter,0,1,0,4,1,8.200000,10.60610,59.0435,10.739832,1562
4,5,2018-01-05,winter,0,1,0,5,1,9.305237,11.46350,43.6957,12.522300,1600

In [85]:
df.shape

(730, 13)

In [86]:
df[(df["weekday"]==6)|(df["weekday"]==7)]

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
5,6,2018-01-06,winter,0,1,0,6,1,8.378268,11.66045,51.8261,6.000868,1606
6,7,2018-01-07,winter,0,1,0,7,2,8.057402,10.44195,49.8696,11.304642,1510
12,13,2018-01-13,winter,0,1,0,6,1,6.765000,7.54415,47.0417,20.167000,1406
13,14,2018-01-14,winter,0,1,0,7,1,6.595670,9.42065,53.7826,8.478716,1421
19,20,2018-01-20,winter,0,1,0,6,2,10.728347,12.75250,53.8333,13.125568,1927
...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,713,2019-12-14,autumn,1,12,0,7,1,11.548347,14.70960,64.2917,8.792343,5611
718,719,2019-12-20,autumn,1,12,0,6,2,13.530000,16.76085,66.7917,8.875021,4128
719,720,2019-12-21,winter,1,12,0,7,2,13.393347,15.08835,55.6667,25.083661,3623
725,726,2019-12-27,winter,1,12,0,6,2,10.420847,11.33210,65.2917,23.458911,2114
726,727,2019-12-28,winter,1,12,0,7,2,10.386653,12.75230,59.0000,10.416557,3095

### Cambiamos el workingday (está mal)

In [87]:
#def workingday (x):
    #if ( x == 6)or ( x == 7):
        #return 0
    #else:
        #return 1

In [88]:
#df["workingday"] = df["weekday"].apply(workingday)

In [89]:
#df.head(10)

### Cambiamos el holyday y el working day según sea festivo o no

Festivos 2018

- Monday, January 1, 2018: New Year’s Day
- Monday, January 15, 2018: Martin Luther King Jr.’s Birthday
- Monday, February 19, 2018: Washington’s Birthday
- Monday, April 16, 2018: DC Emancipation Day
- Monday, May 28, 2018: Memorial Day
- Wednesday, July 4, 2018: Independence Day
- Monday, September 3, 2018: Labor Day
- Monday, October 8, 2018: Columbus Day
- Monday, November 12, 2018: Veterans Day*
- Thursday, November 22, 2018: Thanksgiving Day
- Tuesday, December 25, 2018: Christmas Day



Festivos 2019

- Tuesday, January 1, 2019: New Year’s Day   
- Monday, January 21, 2019: Martin Luther King, Jr.’s Birthday   
- Monday, February 18, 2019: Washington’s Birthday   
- Tuesday, April 16, 2019: DC Emancipation Day   
- Monday, May 27, 2019: Memorial Day   
- Thursday, July 4, 2019: Independence Day   
- Monday, September 2, 2019: Labor Day   
- Monday, October 14, 2019: Columbus Day   
- Monday, November 11, 2019: Veterans Day   
- Thursday, November 28, 2019: Thanksgiving Day   
- Wednesday, December 25, 2019: Christmas Day

In [90]:
# Cambiamos holiday

def hol(x):
    festivos = pd.DatetimeIndex(['2018-1-1', '2018-1-15', '2018-2-19','2018-4-16','2018-5-28','2018-7-4','2018-9-3','2018-10-8','2018-11-12','2018-11-22','2018-12-25','2019-1-1', '2019-1-21', '2019-2-18','2019-4-16','2019-5-27','2019-7-4','2019-9-2','2019-10-14','2019-11-11','2019-11-28','2019-12-25'])
    if pd.DatetimeIndex([x]).isin(festivos):
        return 1 
    else:
        return 0

In [91]:
df['holiday'] = df['dteday'].apply(hol)

In [92]:
df['holiday'].sum()

22

In [93]:
df[df['holiday'] ==1]['dteday']

0     2018-01-01
14    2018-01-15
49    2018-02-19
105   2018-04-16
147   2018-05-28
184   2018-07-04
245   2018-09-03
280   2018-10-08
315   2018-11-12
325   2018-11-22
358   2018-12-25
365   2019-01-01
385   2019-01-21
413   2019-02-18
470   2019-04-16
511   2019-05-27
549   2019-07-04
609   2019-09-02
651   2019-10-14
679   2019-11-11
696   2019-11-28
723   2019-12-25
Name: dteday, dtype: datetime64[ns]

In [94]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2018-01-01,winter,0,1,1,1,2,14.110847,18.18125,80.5833,10.749882,985
1,2,2018-01-02,winter,0,1,0,2,2,14.902598,17.68695,69.6087,16.652113,801
2,3,2018-01-03,winter,0,1,0,3,1,8.050924,9.47025,43.7273,16.636703,1349
3,4,2018-01-04,winter,0,1,0,4,1,8.200000,10.60610,59.0435,10.739832,1562
4,5,2018-01-05,winter,0,1,0,5,1,9.305237,11.46350,43.6957,12.522300,1600
5,6,2018-01-06,winter,0,1,0,6,1,8.378268,11.66045,51.8261,6.000868,1606
6,7,2018-01-07,winter,0,1,0,7,2,8.057402,10.44195,49.8696,11.304642,1510
7,8,2018-01-08,winter,0,1,0,1,2,6.765000,8.11270,53.5833,17.875868,959
8,9,2018-01-09,winter,0,1,0,2,1,5.671653,5.80875,43.4167,24.250650,822
9,10,2018-01-10,winter,0,1,0,3,1,6.184153,7.54440,48.2917,14.958889,1321

In [95]:
# Cambiamos working day

#def work(x):
    #if x == 1:
        #return 0
    #else:
        #return 1

In [96]:
#df['workingday'] = df['holiday'].apply(work)

In [97]:
#df[df['workingday']==0].value_counts().sum()

In [98]:
df['season'].value_counts()

summer    188
spring    184
winter    180
autumn    178
Name: season, dtype: int64

In [99]:
df.to_csv('datos/bikes_eda.csv')