In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("datos/bikes.csv")

In [3]:
df.head()

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  730 non-null    int64
 1   instant     730 non-null    int64
 2   dteday      730 non-null    object
 3   season      730 non-null    object
 4   yr          730 non-null    int64
 5   mnth        730 non-null    int64
 6   holiday     730 non-null    int64
 7   weekday     730 non-null    int64
 8   workingday  730 non-null    int64
 9   weathersit  730 non-null    int64
 10  temp        730 non-null    float64
 11  atemp       730 non-null    float64
 12  hum         730 non-null    float64
 13  windspeed   730 non-null    float64
 14  casual      730 non-null    int64
 15  registered  730 non-null    int64
 16  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(2)
memory usage: 97.1+ KB