In [62]:
import pandas as pd
import numpy as np
from datetime import date
import warnings
warnings.filterwarnings('ignore')

In [63]:
df = pd.read_csv("datos/bikes.csv", index_col=0)
df.head(15)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,06-01-2018,spring,0,1,0,4,1,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,07-01-2018,spring,0,1,0,5,1,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
7,8,08-01-2018,spring,0,1,0,6,0,2,6.765000,8.11270,53.5833,17.875868,68,891,959
8,9,09-01-2018,spring,0,1,0,0,0,1,5.671653,5.80875,43.4167,24.250650,54,768,822
9,10,10-01-2018,spring,0,1,0,1,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321
10,11,11-01-2018,spring,0,1,0,2,1,2,6.932731,9.57320,68.6364,8.182844,43,1220,1263
11,12,12-01-2018,spring,0,1,0,3,1,1,7.081807,8.02365,59.9545,20.410009,25,1137,1162
12,13,13-01-2018,spring,0,1,0,4,1,1,6.765000,7.54415,47.0417,20.167000,38,1368,1406
13,14,14-01-2018,spring,0,1,0,5,1,1,6.595670,9.42065,53.7826,8.478716,54,1367,1421
14,15,15-01-2018,spring,0,1,0,6,0,2,9.566653,12.40560,49.8750,10.583521,222,1026,1248

## Empezamos el EDA

In [64]:
df.dtypes

instant         int64
dteday         object
season         object
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

Convertimos la columna "dteday" a tipo de dato Date

In [65]:
df["dteday"]=pd.to_datetime(df['dteday'])

Verificamos los nulos

In [66]:
df.sort_values(by='dteday', inplace=True)

In [67]:
df.reset_index(drop=True, inplace=True)

In [68]:
df.head(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,spring,0,2,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360
2,60,2018-01-03,spring,0,3,0,2,1,1,10.933347,13.19395,53.5000,14.500475,137,1714,1851
3,91,2018-01-04,summer,0,4,0,5,1,2,12.300000,14.17270,68.6250,17.333436,307,1920,2227
4,121,2018-01-05,summer,0,5,0,0,0,2,18.518347,22.41020,76.2083,7.125718,1138,2213,3351

In [69]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

NO tenemos nulos wiii....

In [70]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [71]:
df.describe(include="object").T

       count unique     top freq
season   730      4  autumn  188

In [72]:
df.describe(include="number").T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [73]:
df["mnth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [74]:
df.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,spring,0,2,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360

In [75]:
#INICIO ESTACIONES

In [76]:
#Nota mental: Hacer un mapeo

In [77]:
df[df['season']=='spring']

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,spring,0,2,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360
2,60,2018-01-03,spring,0,3,0,2,1,1,10.933347,13.19395,53.5000,14.500475,137,1714,1851
12,13,2018-01-13,spring,0,1,0,4,1,1,6.765000,7.54415,47.0417,20.167000,38,1368,1406
13,14,2018-01-14,spring,0,1,0,5,1,1,6.595670,9.42065,53.7826,8.478716,54,1367,1421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,spring,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,727,2019-12-28,spring,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,728,2019-12-29,spring,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,729,2019-12-30,spring,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,730,2019-12-31,spring,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [78]:
df[df['season']=='summer']

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
3,91,2018-01-04,summer,0,4,0,5,1,2,12.300000,14.17270,68.6250,17.333436,307,1920,2227
4,121,2018-01-05,summer,0,5,0,0,0,2,18.518347,22.41020,76.2083,7.125718,1138,2213,3351
5,152,2018-01-06,summer,0,6,0,3,1,2,31.330847,36.04835,67.7083,13.875164,513,3461,3974
34,92,2018-02-04,summer,0,4,0,6,0,2,12.915000,15.78185,65.3750,13.208782,898,1354,2252
35,122,2018-02-05,summer,0,5,0,1,1,2,22.515847,26.64165,73.0000,12.291418,847,3554,4401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,496,2019-11-05,summer,1,5,0,5,1,1,21.866653,26.04165,36.0417,15.874779,1319,5711,7030
674,527,2019-11-06,summer,1,6,0,1,1,2,29.554153,32.98605,58.7917,13.916771,1017,5647,6664
702,467,2019-12-04,summer,1,4,0,4,1,1,16.297500,19.38020,46.6250,19.458743,663,4746,5409
703,497,2019-12-05,summer,1,5,0,6,0,1,23.130847,27.24085,48.0417,8.249911,2622,4807,7429
704,528,2019-12-06,summer,1,6,0,2,1,2,26.786653,29.89375,83.3333,14.374582,477,4495,4972

In [79]:
df[df['season']=='autumn']

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
6,182,2018-01-07,autumn,0,7,0,5,1,1,29.622500,32.60810,39.6250,6.874736,1246,4116,5362
7,213,2018-01-08,autumn,0,8,0,1,1,1,31.638347,35.16460,55.0833,10.500039,729,3537,4266
8,244,2018-01-09,autumn,0,9,0,4,1,1,26.855000,30.74605,63.9167,9.500332,783,4332,5115
37,183,2018-02-07,autumn,0,7,0,6,0,1,30.271653,33.36540,44.4583,7.709154,2204,2915,5119
38,214,2018-02-08,autumn,0,8,0,2,1,1,32.116653,35.35355,49.1250,13.791950,801,4044,4845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,588,2019-11-08,autumn,1,8,0,6,0,2,28.392500,31.91335,73.2917,13.834093,2247,4052,6299
677,619,2019-11-09,autumn,1,9,0,2,1,1,23.677500,27.71460,52.0000,6.167631,1070,6697,7767
705,558,2019-12-07,autumn,1,7,0,4,1,1,29.349153,32.73415,52.9583,9.833925,1032,6414,7446
706,589,2019-12-08,autumn,1,8,0,0,0,1,28.734153,32.22895,53.0417,8.208304,2182,4362,6544
707,620,2019-12-09,autumn,1,9,0,3,1,1,24.565847,28.50375,57.7083,8.833682,1050,6820,7870

In [80]:
df[df['season']=='winter']

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
9,274,2018-01-10,winter,0,10,0,6,0,2,16.810000,20.64315,75.3750,19.583832,480,1949,2429
10,305,2018-01-11,winter,0,11,0,2,1,1,16.434153,19.85440,68.3750,9.083257,410,3658,4068
11,335,2018-01-12,winter,0,12,0,4,1,1,12.812500,15.27770,52.4583,14.750586,182,3545,3727
40,275,2018-02-10,winter,0,10,0,0,0,2,14.623347,17.26585,79.1667,14.874871,616,2302,2918
41,306,2018-02-11,winter,0,11,0,3,1,1,15.477500,19.50665,71.8750,5.500144,370,3816,4186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,715,2019-12-16,winter,1,12,0,0,0,2,14.862500,18.49690,83.8750,6.749714,538,3248,3786
715,716,2019-12-17,winter,1,12,0,1,1,2,16.126653,20.07500,90.7083,6.583306,212,4373,4585
716,717,2019-12-18,winter,1,12,0,2,1,1,16.844153,20.48540,66.6250,14.834068,433,5124,5557
717,718,2019-12-19,winter,1,12,0,3,1,1,13.632500,17.10810,62.5417,12.334164,333,4934,5267
718,719,2019-12-20,winter,1,12,0,4,1,2,13.530000,16.76085,66.7917,8.875021,314,3814,4128

Vemos que las categorias de season estan mal asignadas --> hacemos un mapeo:

    - spring --> winter
    - summer --> spring
    - autumn --> summer
    - winter --> autumn

In [81]:
mapa = {'spring':'winter','summer':'spring','autumn':'summer','winter':'autumn'}

In [82]:
df['season'] = df['season'].map(mapa)

In [83]:
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,winter,0,2,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360
2,60,2018-01-03,winter,0,3,0,2,1,1,10.933347,13.19395,53.5000,14.500475,137,1714,1851
3,91,2018-01-04,spring,0,4,0,5,1,2,12.300000,14.17270,68.6250,17.333436,307,1920,2227
4,121,2018-01-05,spring,0,5,0,0,0,2,18.518347,22.41020,76.2083,7.125718,1138,2213,3351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,winter,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,727,2019-12-28,winter,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,728,2019-12-29,winter,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,729,2019-12-30,winter,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,730,2019-12-31,winter,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [90]:
df[df['dteday'].dt.month == 1]['mnth']

0      1
1      2
2      3
3      4
4      5
      ..
391    1
392    1
393    1
394    1
395    1
Name: mnth, Length: 62, dtype: int64

In [88]:
df[df['dteday'].dt.month == 2]['mnth']

31      1
32      2
33      3
34      4
35      5
36      6
37      7
38      8
39      9
40     10
41     11
42     12
43      2
44      2
45      2
46      2
47      2
48      2
49      2
50      2
51      2
52      2
53      2
54      2
55      2
56      2
57      2
58      2
396     1
397     2
398     3
399     4
400     5
401     6
402     7
403     8
404     9
405    10
406    11
407    12
408     2
409     2
410     2
411     2
412     2
413     2
414     2
415     2
416     2
417     2
418     2
419     2
420     2
421     2
422     2
423     2
Name: mnth, dtype: int64

Vemos que algunos meses no estÃ¡n bien asignados. Vamos a reemplazarlos por los valores correctos:

In [103]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,winter,0,2,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360
2,60,2018-01-03,winter,0,3,0,2,1,1,10.933347,13.19395,53.5000,14.500475,137,1714,1851
3,91,2018-01-04,spring,0,4,0,5,1,2,12.300000,14.17270,68.6250,17.333436,307,1920,2227
4,121,2018-01-05,spring,0,5,0,0,0,2,18.518347,22.41020,76.2083,7.125718,1138,2213,3351
5,152,2018-01-06,spring,0,6,0,3,1,2,31.330847,36.04835,67.7083,13.875164,513,3461,3974
6,182,2018-01-07,summer,0,7,0,5,1,1,29.622500,32.60810,39.6250,6.874736,1246,4116,5362
7,213,2018-01-08,summer,0,8,0,1,1,1,31.638347,35.16460,55.0833,10.500039,729,3537,4266
8,244,2018-01-09,summer,0,9,0,4,1,1,26.855000,30.74605,63.9167,9.500332,783,4332,5115
9,274,2018-01-10,autumn,0,10,0,6,0,2,16.810000,20.64315,75.3750,19.583832,480,1949,2429

In [109]:
def cambiar_month(col):
    return col.month

In [111]:
df['mnth'] = df['dteday'].apply(cambiar_month)

In [116]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,winter,0,1,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360
2,60,2018-01-03,winter,0,1,0,2,1,1,10.933347,13.19395,53.5000,14.500475,137,1714,1851
3,91,2018-01-04,spring,0,1,0,5,1,2,12.300000,14.17270,68.6250,17.333436,307,1920,2227
4,121,2018-01-05,spring,0,1,0,0,0,2,18.518347,22.41020,76.2083,7.125718,1138,2213,3351
5,152,2018-01-06,spring,0,1,0,3,1,2,31.330847,36.04835,67.7083,13.875164,513,3461,3974
6,182,2018-01-07,summer,0,1,0,5,1,1,29.622500,32.60810,39.6250,6.874736,1246,4116,5362
7,213,2018-01-08,summer,0,1,0,1,1,1,31.638347,35.16460,55.0833,10.500039,729,3537,4266
8,244,2018-01-09,summer,0,1,0,4,1,1,26.855000,30.74605,63.9167,9.500332,783,4332,5115
9,274,2018-01-10,autumn,0,1,0,6,0,2,16.810000,20.64315,75.3750,19.583832,480,1949,2429

### Cambiamos el weekday (estÃ¡ mal)

In [117]:
df.shape

(730, 16)

In [118]:
df.iloc[-1,1] ##Â Tenemos dos aÃ±os enteros!

Timestamp('2019-12-31 00:00:00')

In [121]:
for i in df['weekday']:
    for v in list(range(1,8)):
        df['weekday'] = v

In [122]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,7,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,32,2018-01-02,winter,0,1,0,7,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360
2,60,2018-01-03,winter,0,1,0,7,1,1,10.933347,13.19395,53.5000,14.500475,137,1714,1851
3,91,2018-01-04,spring,0,1,0,7,1,2,12.300000,14.17270,68.6250,17.333436,307,1920,2227
4,121,2018-01-05,spring,0,1,0,7,0,2,18.518347,22.41020,76.2083,7.125718,1138,2213,3351