In [116]:
import pandas as pd
import numpy as np
from datetime import date
import warnings
warnings.filterwarnings('ignore')

In [117]:
df = pd.read_csv("datos/bikes.csv", index_col=0)
df.head(32)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.181250,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.686950,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.470250,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.606100,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.463500,43.6957,12.522300,82,1518,1600
5,6,06-01-2018,spring,0,1,0,4,1,1,8.378268,11.660450,51.8261,6.000868,88,1518,1606
6,7,07-01-2018,spring,0,1,0,5,1,2,8.057402,10.441950,49.8696,11.304642,148,1362,1510
7,8,08-01-2018,spring,0,1,0,6,0,2,6.765000,8.112700,53.5833,17.875868,68,891,959
8,9,09-01-2018,spring,0,1,0,0,0,1,5.671653,5.808750,43.4167,24.250650,54,768,822
9,10,10-01-2018,spring,0,1,0,1,1,1,6.184153,7.544400,48.2917,14.958889,41,1280,1321
10,11,11-01-2018,spring,0,1,0,2,1,2,6.932731,9.573200,68.6364,8.182844,43,1220,1263
11,12,12-01-2018,spring,0,1,0,3,1,1,7.081807,8.023650,59.9545,20.410009,25,1137,1162
12,13,13-01-2018,spring,0,1,0,4,1,1,6.765000,7.544150,47.0417,20.167000,38,1368,1406
13,14,14-01-2018,spring,0,1,0,5,1,1,6.595670,9.420650,53.7826,8.478716,54,1367,1421
14,15,15-01-2018,spring,0,1,0,6,0,2,9.566653,12.405600,49.8750,10.583521,222,1026,1248
15,16,16-01-2018,spring,0,1,0,0,0,1,9.498347,11.710850,48.3750,12.625011,251,953,1204
16,17,17-01-2018,spring,0,1,1,1,0,2,7.209153,8.838550,53.7500,12.999139,117,883,1000
17,18,18-01-2018,spring,0,1,0,2,1,2,8.883347,11.616650,86.1667,9.833925,9,674,683
18,19,19-01-2018,spring,0,1,0,3,1,2,11.979134,14.921100,74.1739,13.957239,78,1572,1650
19,20,20-01-2018,spring,0,1,0,4,1,2,10.728347,12.752500,53.8333,13.125568,83,1844,1927
20,21,21-01-2018,spring,0,1,0,5,1,1,7.277500,7.891650,45.7083,23.667214,75,1468,1543
21,22,22-01-2018,spring,0,1,0,6,0,1,2.424346,3.953480,40.0000,11.521990,93,888,981
22,23,23-01-2018,spring,0,1,0,0,0,1,3.957390,4.941955,43.6522,16.522200,150,836,986
23,24,24-01-2018,spring,0,1,0,1,1,1,3.993043,5.896500,49.1739,10.608110,86,1330,1416
24,25,25-01-2018,spring,0,1,0,2,1,2,9.162598,11.726300,61.6957,8.696332,186,1799,1985
25,26,26-01-2018,spring,0,1,0,3,1,3,8.917500,10.180000,86.2500,19.687950,34,472,506
26,27,27-01-2018,spring,0,1,0,4,1,1,7.995000,10.985000,68.7500,7.627079,15,416,431
27,28,28-01-2018,spring,0,1,0,5,1,2,8.342598,11.165850,79.3043,8.261100,38,1129,1167
28,29,29-01-2018,spring,0,1,0,6,0,1,8.057402,10.606300,65.1739,9.739455,123,975,1098
29,30,30-01-2018,spring,0,1,0,0,0,1,8.877402,12.516100,72.2174,4.956834,140,956,1096
30,31,31-01-2018,spring,0,1,0,1,1,2,7.414153,9.312500,60.3750,12.541864,42,1459,1501
31,32,01-02-2018,spring,0,2,0,2,1,2,7.879134,11.726500,82.9565,3.565271,47,1313,1360

In [118]:
df.dtypes

instant         int64
dteday         object
season         object
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [119]:
df.duplicated().sum()

0

## Empezamos el EDA

In [120]:
df.dtypes

instant         int64
dteday         object
season         object
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

Convertimos la columna "dteday" a tipo de dato Date

In [121]:
df["dteday"]=pd.to_datetime(df['dteday'], format= "%d-%m-%Y")

Verificamos los nulos

In [122]:
df.sort_values(by='dteday', inplace=True)

In [123]:
df.reset_index(drop=True, inplace=True)

In [124]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [125]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,2018-01-06,spring,0,1,0,4,1,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,2018-01-07,spring,0,1,0,5,1,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
7,8,2018-01-08,spring,0,1,0,6,0,2,6.765000,8.11270,53.5833,17.875868,68,891,959
8,9,2018-01-09,spring,0,1,0,0,0,1,5.671653,5.80875,43.4167,24.250650,54,768,822
9,10,2018-01-10,spring,0,1,0,1,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321

In [126]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

NO tenemos nulos wiii....

In [127]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [128]:
df.describe(include="object").T

       count unique     top freq
season   730      4  autumn  188

In [129]:
df.describe(include="number").T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [130]:
df["mnth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [131]:
df.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801

In [132]:
#INICIO ESTACIONES

In [133]:
#Nota mental: Hacer un mapeo

In [134]:
df[df['season']=='spring']

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,spring,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,727,2019-12-28,spring,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,728,2019-12-29,spring,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,729,2019-12-30,spring,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,730,2019-12-31,spring,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [135]:
df[df['season']=='summer']

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
79,80,2018-03-21,summer,0,3,0,1,1,2,17.647835,20.48675,73.7391,19.348461,401,1676,2077
80,81,2018-03-22,summer,0,3,0,2,1,1,18.108347,22.03210,62.4583,15.125250,460,2243,2703
81,82,2018-03-23,summer,0,3,0,3,1,2,14.225237,16.89695,83.9565,15.695487,203,1918,2121
82,83,2018-03-24,summer,0,3,0,4,1,2,11.685000,13.54165,80.5833,16.333729,166,1699,1865
83,84,2018-03-25,summer,0,3,0,5,1,1,10.830847,12.81560,49.5000,15.458575,300,1910,2210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,532,2019-06-16,summer,1,6,0,6,0,1,25.898347,29.73540,50.4167,11.166689,2963,4739,7702
532,533,2019-06-17,summer,1,6,0,0,0,1,24.292500,28.59875,59.8750,9.708568,2634,4344,6978
533,534,2019-06-18,summer,1,6,0,1,1,2,23.301653,27.24210,77.7917,11.707982,653,4446,5099
534,535,2019-06-19,summer,1,6,0,2,1,1,28.221653,32.73460,69.0000,9.917139,968,5857,6825
535,536,2019-06-20,summer,1,6,0,3,1,1,32.082500,36.04875,59.2083,7.625404,872,5339,6211

In [136]:
df[df['season']=='autumn']

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
171,172,2018-06-21,autumn,0,6,0,2,1,2,27.914153,31.88230,77.0417,11.458675,774,4061,4835
172,173,2018-06-22,autumn,0,6,0,3,1,1,30.066653,34.69145,70.7500,11.541554,661,3846,4507
173,174,2018-06-23,autumn,0,6,0,4,1,2,29.861653,34.69165,70.3333,15.999868,746,4044,4790
174,175,2018-06-24,autumn,0,6,0,5,1,1,29.690847,32.82915,57.3333,14.875675,969,4022,4991
175,176,2018-06-25,autumn,0,6,0,6,0,1,28.495000,32.16565,48.3333,14.041257,1782,3420,5202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,626,2019-09-18,autumn,1,9,0,2,1,2,25.556653,28.25335,87.2500,23.958329,371,3702,4073
626,627,2019-09-19,autumn,1,9,0,3,1,1,22.652500,27.02020,53.6667,14.416725,788,6803,7591
627,628,2019-09-20,autumn,1,9,0,4,1,1,22.413347,26.60960,61.8333,7.917189,939,6781,7720
628,629,2019-09-21,autumn,1,9,0,5,1,1,24.565847,28.59855,66.8750,10.333343,1250,6917,8167
629,630,2019-09-22,autumn,1,9,0,6,0,1,26.650000,30.52440,64.6667,19.000061,2512,5883,8395

In [137]:
df[df['season']=='winter']

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
265,266,2018-09-23,winter,0,9,0,5,1,2,24.975847,26.10625,97.2500,5.250569,258,2137,2395
266,267,2018-09-24,winter,0,9,0,6,0,2,24.873347,28.22060,86.2500,5.251681,1776,3647,5423
267,268,2018-09-25,winter,0,9,0,0,0,2,26.000847,28.63185,84.5000,3.375406,1544,3466,5010
268,269,2018-09-26,winter,0,9,0,1,1,2,26.615847,29.45210,84.8333,7.416900,684,3946,4630
269,270,2018-09-27,winter,0,9,0,2,1,2,26.103347,28.72625,88.5417,7.917457,477,3643,4120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,715,2019-12-16,winter,1,12,0,0,0,2,14.862500,18.49690,83.8750,6.749714,538,3248,3786
715,716,2019-12-17,winter,1,12,0,1,1,2,16.126653,20.07500,90.7083,6.583306,212,4373,4585
716,717,2019-12-18,winter,1,12,0,2,1,1,16.844153,20.48540,66.6250,14.834068,433,5124,5557
717,718,2019-12-19,winter,1,12,0,3,1,1,13.632500,17.10810,62.5417,12.334164,333,4934,5267
718,719,2019-12-20,winter,1,12,0,4,1,2,13.530000,16.76085,66.7917,8.875021,314,3814,4128

Vemos que las categorias de season estan mal asignadas --> hacemos un mapeo:

    - spring --> winter
    - summer --> spring
    - autumn --> summer
    - winter --> autumn

In [138]:
mapa = {'spring':'winter','summer':'spring','autumn':'summer','winter':'autumn'}

In [139]:
df['season'] = df['season'].map(mapa)

In [140]:
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,winter,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,winter,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,winter,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,winter,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,winter,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,727,2019-12-28,winter,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,728,2019-12-29,winter,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,729,2019-12-30,winter,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,730,2019-12-31,winter,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [141]:
df[df['dteday'].dt.month == 1]['mnth']

0      1
1      1
2      1
3      1
4      1
      ..
391    1
392    1
393    1
394    1
395    1
Name: mnth, Length: 62, dtype: int64

In [142]:
df[df['dteday'].dt.month == 2]['mnth']

31     2
32     2
33     2
34     2
35     2
36     2
37     2
38     2
39     2
40     2
41     2
42     2
43     2
44     2
45     2
46     2
47     2
48     2
49     2
50     2
51     2
52     2
53     2
54     2
55     2
56     2
57     2
58     2
396    2
397    2
398    2
399    2
400    2
401    2
402    2
403    2
404    2
405    2
406    2
407    2
408    2
409    2
410    2
411    2
412    2
413    2
414    2
415    2
416    2
417    2
418    2
419    2
420    2
421    2
422    2
423    2
Name: mnth, dtype: int64

Vemos que algunos meses no estn bien asignados. Vamos a reemplazarlos por los valores correctos:

In [143]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,winter,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,winter,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,winter,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,winter,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,2018-01-06,winter,0,1,0,4,1,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,2018-01-07,winter,0,1,0,5,1,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
7,8,2018-01-08,winter,0,1,0,6,0,2,6.765000,8.11270,53.5833,17.875868,68,891,959
8,9,2018-01-09,winter,0,1,0,0,0,1,5.671653,5.80875,43.4167,24.250650,54,768,822
9,10,2018-01-10,winter,0,1,0,1,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321

In [144]:
def cambiar_month(col):
    return col.month

In [145]:
df['mnth'] = df['dteday'].apply(cambiar_month)

In [146]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,winter,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,winter,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,winter,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,winter,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,2018-01-06,winter,0,1,0,4,1,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,2018-01-07,winter,0,1,0,5,1,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
7,8,2018-01-08,winter,0,1,0,6,0,2,6.765000,8.11270,53.5833,17.875868,68,891,959
8,9,2018-01-09,winter,0,1,0,0,0,1,5.671653,5.80875,43.4167,24.250650,54,768,822
9,10,2018-01-10,winter,0,1,0,1,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321

### Cambiamos el weekday (est mal)

In [147]:
mapa_dias={6:1,0:2,1:3,2:4,3:5,4:6,5:7}

In [148]:
df['weekday']=df['weekday'].map(mapa_dias)

In [149]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,1,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,winter,0,1,0,2,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,winter,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,winter,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,winter,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [150]:
df.shape

(730, 16)

In [151]:
df[(df["weekday"]==6)|(df["weekday"]==7)]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
5,6,2018-01-06,winter,0,1,0,6,1,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,2018-01-07,winter,0,1,0,7,1,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
12,13,2018-01-13,winter,0,1,0,6,1,1,6.765000,7.54415,47.0417,20.167000,38,1368,1406
13,14,2018-01-14,winter,0,1,0,7,1,1,6.595670,9.42065,53.7826,8.478716,54,1367,1421
19,20,2018-01-20,winter,0,1,0,6,1,2,10.728347,12.75250,53.8333,13.125568,83,1844,1927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,713,2019-12-14,autumn,1,12,0,7,1,1,11.548347,14.70960,64.2917,8.792343,429,5182,5611
718,719,2019-12-20,autumn,1,12,0,6,1,2,13.530000,16.76085,66.7917,8.875021,314,3814,4128
719,720,2019-12-21,winter,1,12,0,7,1,2,13.393347,15.08835,55.6667,25.083661,221,3402,3623
725,726,2019-12-27,winter,1,12,0,6,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,727,2019-12-28,winter,1,12,0,7,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095

### Cambiamos el workingday (est mal)

In [152]:
def workingday (x):
    if ( x == 6)or ( x == 7):
        return 0
    else:
        return 1

In [153]:
df["workingday"] = df["weekday"].apply(workingday)

In [154]:
df.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,winter,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,winter,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,winter,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,winter,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,winter,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,2018-01-06,winter,0,1,0,6,0,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,2018-01-07,winter,0,1,0,7,0,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
7,8,2018-01-08,winter,0,1,0,1,1,2,6.765000,8.11270,53.5833,17.875868,68,891,959
8,9,2018-01-09,winter,0,1,0,2,1,1,5.671653,5.80875,43.4167,24.250650,54,768,822
9,10,2018-01-10,winter,0,1,0,3,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321