In [172]:
import pandas as pd
import numpy as np
from datetime import date
import warnings
warnings.filterwarnings('ignore')

In [173]:
df = pd.read_csv("datos/bikes.csv", index_col=0)

## Empezamos el EDA

In [174]:
df.sort_values(by='dteday', inplace=True, ascending=True)

In [175]:
df.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
365,366,01-01-2019,spring,1,1,0,0,0,1,15.170000,18.78105,69.2500,12.875189,686,1608,2294

In [176]:
df.dtypes

instant         int64
dteday         object
season         object
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

Convertimos la columna "dteday" a tipo de dato Date

In [177]:
df["dteday"]=pd.to_datetime(df['dteday'])

Verificamos los nulos

In [178]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

NO tenemos nulos wiii....

In [179]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [180]:
df.describe(include="object").T

       count unique     top freq
season   730      4  autumn  188

In [181]:
df.describe(include="number").T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [182]:
df["mnth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [183]:
df.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
365,366,2019-01-01,spring,1,1,0,0,0,1,15.170000,18.78105,69.2500,12.875189,686,1608,2294

In [184]:
df["yr"].unique()

array([0, 1])

In [185]:
#if ((df["dteday"] >= "2018-03-21") & (df["dteday"] <= "2018-06-21")) | ((df["dteday"] >= "2019-03-21") & (df["dteday"] <= "2019-06-21")):
    #df["season"] = "spring"

In [186]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                object
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [187]:
df["dteday"].dt.month

0       1
365     1
31      1
396     1
59      1
       ..
607     8
303    10
668    10
364    12
729    12
Name: dteday, Length: 730, dtype: int64

In [188]:
df["dteday"]

0     2018-01-01
365   2019-01-01
31    2018-01-02
396   2019-01-02
59    2018-01-03
         ...
607   2019-08-31
303   2018-10-31
668   2019-10-31
364   2018-12-31
729   2019-12-31
Name: dteday, Length: 730, dtype: datetime64[ns]

In [189]:
#INICIO ESTACIONES

In [190]:
df_prima=df[(df["dteday"].dt.month == 3) & (df["dteday"].dt.day == 21)]#
inicio_prima=df_prima.index

In [191]:
inicio_prima

Int64Index([79, 444], dtype='int64')

In [192]:
df_inv=df[(df["dteday"].dt.month == 12) & (df["dteday"].dt.day == 21)]#
inicio_inv=df_inv.index

In [193]:
inicio_inv

Int64Index([354, 719], dtype='int64')

In [194]:
df_aut=df[(df["dteday"].dt.month == 9) & (df["dteday"].dt.day == 21)]#
inicio_aut=df_aut.index

In [195]:
inicio_aut

Int64Index([263, 628], dtype='int64')

In [196]:
df_sum=df[(df["dteday"].dt.month == 6) & (df["dteday"].dt.day == 21)]#
inicio_sum=df_sum.index

In [197]:
inicio_sum

Int64Index([171, 536], dtype='int64')

In [198]:
# FINAL ESTACIONES

In [199]:
df_fin_prima=df[(df["dteday"].dt.month == 6) & (df["dteday"].dt.day == 22)]#
final_prima=df_fin_prima.index

In [200]:
final_prima

Int64Index([172, 537], dtype='int64')

In [201]:
df_fin_inv=df[(df["dteday"].dt.month == 3) & (df["dteday"].dt.day == 22)]#
final_inv=df_fin_inv.index

In [202]:
final_inv

Int64Index([80, 445], dtype='int64')

In [203]:
df_fin_aut=df[(df["dteday"].dt.month == 12) & (df["dteday"].dt.day == 22)]#
final_aut=df_fin_aut.index

In [204]:
final_aut

Int64Index([355, 720], dtype='int64')

In [205]:
df_fin_sum=df[(df["dteday"].dt.month == 9) & (df["dteday"].dt.day == 22)]#
final_sum=df_fin_sum.index

In [206]:
final_sum

Int64Index([264, 629], dtype='int64')

In [207]:
#Año 2018

df.iloc[inicio_prima[0]:final_prima[0]+1,2]='spring'

In [208]:
df.iloc[inicio_inv[0]:final_inv[0]+1,2]='winter'

In [209]:
df.iloc[inicio_aut[0]:final_aut[0]+1,2]='autumn'

In [210]:
df.iloc[inicio_sum[0]:final_sum[0]+1,2]='summer'

In [211]:
#Año 2019
df.iloc[inicio_prima[1]:final_prima[1]+1,2]="spring"

In [212]:
df.iloc[inicio_inv[1]:final_inv[1]+1,2]="winter"

In [213]:
df.iloc[inicio_aut[1]:final_aut[1]+1,2]="autumn"

In [214]:
df.iloc[inicio_sum[1]:final_sum[1]+1,2]="summer"

Hacer un for loop con el zip para poder sobreescribir

In [215]:
df_zip=inicio_prima

In [216]:
df['season'].unique()

array(['spring', 'summer', 'autumn', 'winter'], dtype=object)

In [217]:
df.sample(15)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
654,655,2019-10-17,winter,1,10,0,3,1,1,18.689153,22.50540,69.2917,6.791857,979,6482,7461
724,725,2019-12-26,summer,1,12,0,3,1,3,9.976653,11.01665,82.3333,21.208582,9,432,441
30,31,2018-01-31,autumn,0,1,0,1,1,2,7.414153,9.31250,60.3750,12.541864,42,1459,1501
103,104,2018-04-14,autumn,0,4,0,4,1,1,19.167500,23.13710,54.0417,7.416900,529,2738,3267
704,705,2019-06-12,spring,1,12,0,4,1,1,10.489153,12.91020,50.8750,11.708518,340,5035,5375
190,191,2018-10-07,summer,0,7,0,0,0,1,30.647500,34.50125,57.8333,12.292557,1743,3138,4881
433,434,2019-10-03,summer,1,3,0,6,0,1,11.787500,13.88835,35.0417,15.125250,968,3150,4118
509,510,2019-05-25,summer,1,5,0,5,1,1,27.880000,31.37645,74.7083,9.416850,1417,5317,6734
1,2,2018-02-01,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
463,464,2019-09-04,summer,1,4,0,1,1,1,20.055847,23.83190,31.7500,23.999132,905,4680,5585
455,456,2019-01-04,summer,1,4,0,0,0,2,17.459153,20.86435,67.6250,11.541889,2347,3694,6041
599,600,2019-08-23,summer,1,8,0,4,1,1,28.529153,31.85040,63.5833,5.667919,1363,6402,7765
288,289,2018-10-16,winter,0,10,0,0,0,1,20.978347,25.15770,48.6667,18.875039,1748,3293,5041
352,353,2018-12-19,spring,0,12,0,1,1,1,11.343347,14.04665,63.7500,11.584032,260,3143,3403
615,616,2019-08-09,summer,1,9,0,6,0,2,27.025847,30.55605,79.9167,18.833968,1557,4419,5976

In [218]:
df[df['yr']==0]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
31,32,2018-01-02,spring,0,2,0,2,1,2,7.879134,11.72650,82.9565,3.565271,47,1313,1360
59,60,2018-01-03,spring,0,3,0,2,1,1,10.933347,13.19395,53.5000,14.500475,137,1714,1851
90,91,2018-01-04,summer,0,4,0,5,1,2,12.300000,14.17270,68.6250,17.333436,307,1920,2227
120,121,2018-01-05,summer,0,5,0,0,0,2,18.518347,22.41020,76.2083,7.125718,1138,2213,3351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,151,2018-05-31,autumn,0,5,0,2,1,1,31.775000,36.26915,63.6667,7.459043,673,3309,3982
211,212,2018-07-31,autumn,0,7,0,0,0,1,33.039153,36.48980,48.0833,11.042471,1524,2778,4302
242,243,2018-08-31,autumn,0,8,0,3,1,1,26.923347,30.55605,59.7917,5.583331,688,4370,5058
303,304,2018-10-31,winter,0,10,0,1,1,1,13.940000,17.80315,70.3333,7.125450,362,3307,3669
364,365,2018-12-31,spring,0,12,0,6,0,1,16.810000,20.70605,61.5833,14.750318,665,1820,2485

In [219]:
df['season'].unique()

array(['spring', 'summer', 'autumn', 'winter'], dtype=object)

Primavera: inicia el 20 de marzo al 21 de junio. Verano: inicia el 21 de junio y finaliza el 23 de septiembre. Otoño: inicia el 23 de septiembre y finaliza el 21 de diciembre. Invierno: inicia el 21 de diciembre y finaliza el 20 de marzo.

In [ ]:
#Nota mental: Hacer un mapeo